# PREPARER LE FICHIER POUR LE MACHINE LEARNING

## Imports

In [114]:
# imports librairies
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors

## Charger le dataframe PICKLE

In [148]:
df_machine_learning = pd.read_pickle("../df_machine_learning.pkl.gz")
#/Users/camillemagnette/Documents/FORMATION DATA ANALYST/COURS DATA ANALYST/PROJET 2/df_dummies_2.pkl.gz

In [149]:
df_machine_learning

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
0,tt0003883,L'enfant de Paris (1913),L'enfant de Paris (1913),1913,124.0,L'Enfant de Paris (1913),7.3,407.0,False,False,...,False,False,False,False,False,False,False,False,False,False
1,tt0006206,Les vampires (1915),Les vampires (1915),1915,421.0,Les vampires (1915),7.3,5141.0,True,True,...,False,False,False,False,False,False,False,False,False,False
2,tt0006864,Intolerance (1916),Intolerance: Love's Struggle Throughout the Ag...,1916,163.0,Intolérance (1916),7.7,16045.0,False,False,...,False,False,False,False,False,False,False,False,False,False
3,tt0006886,Judex (1916),Judex (1916),1916,300.0,Judex (1916),7.2,1070.0,False,True,...,False,False,False,False,False,False,False,False,False,False
4,tt0008879,The Outlaw and His Wife (1918),Berg-Ejvind och hans hustru (1918),1918,136.0,Les Proscrits (1918),7.2,1983.0,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12431,tt9900782,Kaithi (2019),Kaithi (2019),2019,145.0,Kaithi (2019),8.5,35428.0,True,True,...,False,False,False,False,False,False,False,False,False,False
12432,tt9904844,Ott Tänak: The Movie (2019),Ott Tänak: The Movie (2019),2019,125.0,NaN,8.1,493.0,False,False,...,False,False,False,False,False,False,False,False,False,False
12433,tt9905462,Pengalila (2019),Pengalila (2019),2019,111.0,NaN,7.6,678.0,False,False,...,False,False,False,False,False,False,False,False,False,False
12434,tt9911196,The Marriage Escape (2020),De beentjes van Sint-Hildegard (2020),2020,103.0,De Beentjes van Sint-Hildegard (2020),7.5,2885.0,False,False,...,False,False,False,False,False,False,False,False,False,False
12435,tt9911774,Padmavyuhathile Abhimanyu (2019),Padmavyuhathile Abhimanyu (2019),2019,130.0,NaN,8.1,379.0,False,False,...,False,False,False,False,False,False,False,False,False,False

## Supprimer les doublons de la colonne tconst

In [150]:
df_machine_learning['tconst'].duplicated().sum()

748

In [151]:
df_machine_learning = df_machine_learning.drop_duplicates(subset = "tconst")

## SELECTIONNER UNIQUEMENT LES COLONNES AVEC DES FALSES ET TRUE

In [152]:
# Définir X
X = df_machine_learning.iloc[:,8:]
X

,Action,Adventure,Animation,Biography,Comedy,Crime,Divers,Documentary,Drama,Family,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
0,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12431,True,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12432,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
12433,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
12434,False,False,False,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
12435,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

# SUBMIT 1 : nom du film préféré

## ENTRAINER LE MODELE

In [153]:
# On entraine notre modele uniquement sur le voisin le plus proche sur l'ensemble des colonnes choisies
model_KNN_distance = NearestNeighbors(n_neighbors = 4, metric = "cosine", algorithm = "brute").fit(X)

## RECOMMANDATION POUR UN FILM

In [154]:
# Pour retrouver le tconst et tester avec un film 
df_machine_learning[df_machine_learning.primaryTitle.str.contains('Amélie', case=False)]

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
5252,tt0211915,Amélie (2001),Le fabuleux destin d'Amélie Poulain (2001),2001,122.0,Le fabuleux destin d'Amélie Poulain (2001),8.3,766704.0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [157]:
films = "Amélie (2001)"

In [158]:
df_film_choisi = df_machine_learning[ (df_machine_learning["primaryTitle"] == films) | (df_machine_learning["originalTitle"] == films) | (df_machine_learning["French_Title"] == films) ]

In [159]:
df_film_choisi

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
5252,tt0211915,Amélie (2001),Le fabuleux destin d'Amélie Poulain (2001),2001,122.0,Le fabuleux destin d'Amélie Poulain (2001),8.3,766704.0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [160]:
film_choisi = df_film_choisi.iloc[:, 8:]
film_choisi

,Action,Adventure,Animation,Biography,Comedy,Crime,Divers,Documentary,Drama,Family,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
5252,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [161]:
#création de la matrice pour rechercher les 4 index des plus proches voisins (dont le film en question)
distance, indice = model_KNN_distance.kneighbors(film_choisi)

In [162]:
distance, indice

(array([[3.33066907e-16, 5.99108137e-01, 5.99108137e-01, 6.22035527e-01]]),
 array([[ 4739,  5555,  5230, 10006]]))

In [163]:
pd.DataFrame(indice)

      0     1     2      3
0  4739  5555  5230  10006

In [164]:
pd.DataFrame(indice[0])

       0
0   4739
1   5555
2   5230
3  10006

In [165]:
indice[0,1:]

array([ 5555,  5230, 10006])

In [166]:
# On affiche les 3 plus proches voisins 
print("On peut remplacer", films, "par :", df_machine_learning.iloc[indice[0,1:]]['primaryTitle'].values)

On peut remplacer Amélie (2001) par : ['A Very Long Engagement (2004)' 'The Spanish Apartment (2002)'
 'Burning Love 3: Burning Down the House (2014)']

In [167]:
# création de la liste des suggestions à partir de la matrice
suggestion = df_machine_learning.iloc[indice[0,1:]]
suggestion

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
6099,tt0344510,A Very Long Engagement (2004),Un long dimanche de fiançailles (2004),2004,133.0,Un long dimanche de fiançailles (2004),7.6,74682.0,False,False,...,False,False,False,False,False,False,False,False,False,False
5759,tt0283900,The Spanish Apartment (2002),L'auberge espagnole (2002),2002,122.0,L'auberge espagnole (2002),7.3,41866.0,False,False,...,False,False,False,False,False,False,False,False,False,False
10686,tt4045478,Burning Love 3: Burning Down the House (2014),Burning Love 3: Burning Down the House (2014),2014,181.0,NaN,8.0,549.0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [168]:
# création de la liste des suggestions à partir de la matrice
suggestion_titre = df_machine_learning.iloc[indice[0,1:]]['primaryTitle'].values
suggestion_titre

array(['A Very Long Engagement (2004)', 'The Spanish Apartment (2002)',
       'Burning Love 3: Burning Down the House (2014)'], dtype=object)

In [169]:
# On affiche les 3 plus proches voisins 
print("On peut remplacer", films, "par :", df_machine_learning.iloc[indice[0,1:]]['primaryTitle'].values)

On peut remplacer Amélie (2001) par : ['A Very Long Engagement (2004)' 'The Spanish Apartment (2002)'
 'Burning Love 3: Burning Down the House (2014)']

# SUBMIT 2 : FILTRES ACTEURS, ANNEES, GENRE

### Choix renseignés par l'utilisateur

In [203]:
genre_choisi = 'Adventure'

In [215]:
liste_genres_choisi = ['Adventure', 'Action']

In [204]:
start_year = 1990
end_year = 2020

In [205]:
acteur_choisi = "Brad Pitt"
#"Brad Pitt"

### 1ère proposition avec l'acteur

In [196]:
df_year_actor_choisi = df_machine_learning[ (df_machine_learning[acteur_choisi] == True) 
                                           & (df_machine_learning["startYear"] > start_year) 
                                           & (df_machine_learning["startYear"] < end_year) ]
df_year_actor_choisi = df_year_actor_choisi.sort_values(by ='averageRating' , ascending = False)
df_year_actor_choisi

#df_genre_year_actor_choisi = df_machine_learning[ (df_machine_learning[acteur_choisi] == True) | (df_machine_learning[genre_choisi] == True) & (df_machine_learning["startYear"] > start_year)  & (df_machine_learning["startYear"] < end_year) ]

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
4733,tt0137523,Fight Club (1999),Fight Club (1999),1999,139.0,Fight Club (1999),8.8,2170637.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4332,tt0114369,Se7en (1995),Se7en (1995),1995,127.0,Seven (1995),8.6,1685607.0,False,False,...,False,False,False,False,False,False,False,False,False,False
6195,tt0361748,Inglourious Basterds (2009),Inglourious Basterds (2009),2009,153.0,Inglourious Basterds (2009),8.3,1481117.0,False,True,...,False,False,False,False,False,False,False,False,False,False
10993,tt4973112,Hitting the Apex (2015),Hitting the Apex (2015),2015,138.0,NaN,8.2,4024.0,False,False,...,False,False,False,False,False,False,False,False,False,False
5227,tt0208092,Snatch (2000),Snatch (2000),2000,104.0,Snatch - Tu braques ou tu raques (2000),8.2,869642.0,False,False,...,False,False,False,False,False,False,False,False,False,False
9426,tt2024544,12 Years a Slave (2013),12 Years a Slave (2013),2013,134.0,12 Years a Slave (2013),8.1,712638.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4345,tt0114746,12 Monkeys (1995),Twelve Monkeys (1995),1995,129.0,L'Armée des 12 singes (1995),8.0,627106.0,False,False,...,False,False,False,False,False,False,False,False,False,False
6576,tt0421715,The Curious Case of Benjamin Button (2008),The Curious Case of Benjamin Button (2008),2008,166.0,L'étrange histoire de Benjamin Button (2008),7.8,664307.0,False,False,...,False,False,False,False,False,False,False,False,False,False
8870,tt1596363,The Big Short (2015),The Big Short (2015),2015,130.0,The Big Short: Le casse du siècle (2015),7.8,443691.0,False,False,...,False,False,False,False,False,False,False,False,False,False
5400,tt0240772,Ocean's Eleven (2001),Ocean's Eleven (2001),2001,116.0,Ocean's eleven - Faites vos jeux! (2001),7.7,587800.0,False,False,...,False,False,False,False,False,False,False,False,False,False
7996,tt1210166,Moneyball (2011),Moneyball (2011),2011,133.0,Le stratège (2011),7.6,435535.0,False,False,...,False,False,False,False,False,False,False,False,False,False
11760,tt7131622,Once Upon a Time in Hollywood (2019),Once Upon a Time in... Hollywood (2019),2019,161.0,Once Upon a Time... in Hollywood (2019),7.6,770079.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4191,tt0110148,Interview with the Vampire: The Vampire Chroni...,Interview with the Vampire: The Vampire Chroni...,1994,123.0,Entretien avec un vampire - Les chroniques d'u...,7.5,331032.0,False,False,...,False,False,False,False,False,False,False,False,False,False
6691,tt0443680,The Assassination of Jesse James by the Coward...,The Assassination of Jesse James by the Coward...,2007,160.0,L'assassinat de Jesse James par le lâche Rober...,7.5,186233.0,False,False,...,False,False,False,False,False,False,False,False,False,False
6721,tt0449467,Babel (2006),Babel (2006),2006,143.0,Babel (2006),7.5,308131.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4435,tt0117665,Sleepers (1996),Sleepers (1996),1996,147.0,Sleepers (1996),7.5,229329.0,False,False,...,False,False,False,False,False,False,False,False,False,False
10116,tt2713180,Fury (2014),Fury (2014),2014,134.0,Fury (2014),7.5,507841.0,True,False,...,False,False,False,False,False,False,False,False,False,False
4202,tt0110322,Legends of the Fall (1994),Legends of the Fall (1994),1994,133.0,Légendes d'automne (1994),7.5,172046.0,False,False,...,False,False,False,False,False,False,False,False,False,False
7315,tt1001526,Megamind (2010),Megamind (2010),2010,95.0,Megamind (2010),7.3,273260.0,True,False,...,False,False,False,False,False,False,False,False,False,False
6044,tt0332452,Troy (2004),Troy (2004),2004,163.0,Troie (2004),7.3,545563.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4520,tt0119643,Meet Joe Black (1998),Meet Joe Black (1998),1998,178.0,Rencontre avec Joe Black (1998),7.2,250293.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4020,tt0105265,A River Runs Through It (1992),A River Runs Through It (1992),1992,123.0,Et au milieu coule une rivière (1992),7.2,62519.0,False,False,...,False,False,False,False,False,False,False,False,False,False

In [197]:
df_year_actor_choisi["startYear"].unique()

array([1999, 1995, 2009, 2015, 2000, 2013, 2008, 2001, 2011, 2019, 1994,
       2007, 2006, 1996, 2014, 2010, 2004, 1998, 1992])

In [198]:
# TOP 3 des films acteurs classés par note
df_top3_acteur_choisi = df_year_actor_choisi.head(3)
df_top3_acteur_choisi

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
4733,tt0137523,Fight Club (1999),Fight Club (1999),1999,139.0,Fight Club (1999),8.8,2170637.0,False,False,...,False,False,False,False,False,False,False,False,False,False
4332,tt0114369,Se7en (1995),Se7en (1995),1995,127.0,Seven (1995),8.6,1685607.0,False,False,...,False,False,False,False,False,False,False,False,False,False
6195,tt0361748,Inglourious Basterds (2009),Inglourious Basterds (2009),2009,153.0,Inglourious Basterds (2009),8.3,1481117.0,False,True,...,False,False,False,False,False,False,False,False,False,False

In [200]:
# On récupère uniquement les codes films tconst 
tconst_acteur = df_top3_acteur_choisi.iloc[:,:]['tconst'].values
tconst_acteur

array(['tt0137523', 'tt0114369', 'tt0361748'], dtype=object)

In [201]:
# On récupère uniquement le nom des films  

suggestion_acteur = df_top3_acteur_choisi.iloc[:,:]['primaryTitle'].values
suggestion_acteur

array(['Fight Club (1999)', 'Se7en (1995)', 'Inglourious Basterds (2009)'],
      dtype=object)

### 2nd proposition avec le genre et l'année

#### Un seul genre

In [226]:
#Créer un DF filtré SUR LA PERIODE ET LE GENRE renseignés par l'utilisateur
df_year_genre_choisi = df_machine_learning[ (df_machine_learning[genre_choisi] == True) 
                                           & (df_machine_learning["startYear"] >= start_year) 
                                           & (df_machine_learning["startYear"] <= end_year) ]
df_year_genre_choisi.head()

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
3790,tt0099088,Back to the Future Part III (1990),Back to the Future Part III (1990),1990,118.0,Retour vers le futur III (1990),7.4,457745.0,False,True,...,False,False,False,False,False,False,False,False,False,False
3795,tt0099241,Charuga (1991),Caruga (1991),1991,108.0,NaN,7.2,458.0,False,True,...,False,False,False,False,False,False,False,False,False,False
3796,tt0099266,My Mother's Castle (1990),Le château de ma mère (1990),1990,98.0,Le château de ma mère (1990),7.6,5402.0,False,True,...,False,False,False,False,False,False,False,False,False,False
3798,tt0099348,Dances with Wolves (1990),Dances with Wolves (1990),1990,181.0,Danse avec les loups (1990),8.0,274367.0,False,True,...,False,False,False,False,False,False,False,False,False,False
3802,tt0099558,Operation Condor (1991),Fei ying gai wak (1991),1991,106.0,Opération Condor (1991),7.2,21500.0,True,True,...,False,False,False,False,False,False,False,False,False,False

In [227]:
df_year_genre_choisi["startYear"].unique()

array([1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1999, 1998, 2001,
       2000, 2005, 2002, 2003, 2004, 2006, 2013, 2009, 2008, 2007, 2010,
       2019, 2017, 2012, 2014, 2011, 2020, 2015, 2016, 2018])

In [229]:
# Classer dans l'ordre decroissant la colonne averageRating
df_year_genre_choisi = df_year_genre_choisi.sort_values(by ='averageRating' , ascending = False)

In [230]:
# TOP 3 des films GENRES classés par note

df_top3_genre_choisi = df_year_genre_choisi.head(3)
df_top3_genre_choisi

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
5583,tt0259534,Ramayana: The Legend of Prince Rama (1993),Ramayana: The Legend of Prince Rama (1993),1993,97.0,NaN,9.2,9100.0,True,True,...,False,False,False,False,False,False,False,False,False,False
4944,tt0167260,The Lord of the Rings: The Return of the King ...,The Lord of the Rings: The Return of the King ...,2003,201.0,Le Seigneur des anneaux : Le Retour du roi (2003),9.0,1876391.0,True,True,...,False,False,False,False,False,False,False,False,False,False
9330,tt1935109,Dipu Number 2 (1996),Dipu Number 2 (1996),1996,154.0,NaN,8.9,2445.0,False,True,...,False,False,False,False,False,False,False,False,False,False

In [231]:
# On récupère uniquement les codes films tconst 
tconst_genre = df_top3_genre_choisi.iloc[:,:]['tconst'].values
tconst_genre

array(['tt0259534', 'tt0167260', 'tt1935109'], dtype=object)

In [232]:
# On récupère uniquement le nom des films  

suggestion_genre = df_top3_genre_choisi.iloc[:,:]['primaryTitle'].values
suggestion_genre

array(['Ramayana: The Legend of Prince Rama (1993)',
       'The Lord of the Rings: The Return of the King (2003)',
       'Dipu Number 2 (1996)'], dtype=object)

#### Plusieurs genres

In [236]:
#Créer un DF filtré SUR LA PERIODE ET LES GENRES renseignés par l'utilisateur

df_year_genre_choisi_bis = pd.DataFrame()

for genre in liste_genres_choisi : 
    df_genre= df_machine_learning[ (df_machine_learning[genre] == True) 
                                  & (df_machine_learning["startYear"] >= start_year) 
                                  & (df_machine_learning["startYear"] <= end_year) ]
    df_year_genre_choisi_bis = pd.concat([df_year_genre_choisi_bis , df_genre])
                                                   

df_year_genre_choisi_bis.head()

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
3790,tt0099088,Back to the Future Part III (1990),Back to the Future Part III (1990),1990,118.0,Retour vers le futur III (1990),7.4,457745.0,False,True,...,False,False,False,False,False,False,False,False,False,False
3795,tt0099241,Charuga (1991),Caruga (1991),1991,108.0,NaN,7.2,458.0,False,True,...,False,False,False,False,False,False,False,False,False,False
3796,tt0099266,My Mother's Castle (1990),Le château de ma mère (1990),1990,98.0,Le château de ma mère (1990),7.6,5402.0,False,True,...,False,False,False,False,False,False,False,False,False,False
3798,tt0099348,Dances with Wolves (1990),Dances with Wolves (1990),1990,181.0,Danse avec les loups (1990),8.0,274367.0,False,True,...,False,False,False,False,False,False,False,False,False,False
3802,tt0099558,Operation Condor (1991),Fei ying gai wak (1991),1991,106.0,Opération Condor (1991),7.2,21500.0,True,True,...,False,False,False,False,False,False,False,False,False,False

In [237]:
# Classer dans l'ordre decroissant la colonne averageRating
df_year_genre_choisi_bis = df_year_genre_choisi_bis.sort_values(by ='averageRating' , ascending = False)

In [238]:
# TOP 3 des films GENRES classés par note

df_top3_genre_choisi_bis = df_year_genre_choisi_bis.head(3)
df_top3_genre_choisi_bis

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,French_Title,averageRating,numVotes,Action,Adventure,...,Ülkü Özen,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
5583,tt0259534,Ramayana: The Legend of Prince Rama (1993),Ramayana: The Legend of Prince Rama (1993),1993,97.0,NaN,9.2,9100.0,True,True,...,False,False,False,False,False,False,False,False,False,False
5583,tt0259534,Ramayana: The Legend of Prince Rama (1993),Ramayana: The Legend of Prince Rama (1993),1993,97.0,NaN,9.2,9100.0,True,True,...,False,False,False,False,False,False,False,False,False,False
4944,tt0167260,The Lord of the Rings: The Return of the King ...,The Lord of the Rings: The Return of the King ...,2003,201.0,Le Seigneur des anneaux : Le Retour du roi (2003),9.0,1876391.0,True,True,...,False,False,False,False,False,False,False,False,False,False