# PROJET 2 - PREPARATION DU FICHIER POUR LE MACHINE LEARNING

In [2]:
import pandas as pd
import numpy as np

## Charger le dataframe CSV

In [19]:
merge_final_nettoye = pd.read_csv("merge_final.csv", sep = ",")

In [20]:
merge_final_nettoye

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,nconst,category,primaryName,primaryProfession,knownForTitles
0,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0494137,actress,Suzanne Le Bret,actress,"tt0436541,tt0438178,tt0006206,tt0319773"
1,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0674600,actor,Léonce Perret,"director,actor,writer","tt0319773,tt0438177,tt0009858,tt0003883"
2,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0504864,actor,Louis Leubas,actor,"tt2122393,tt2122389,tt2746744,tt0006206"
3,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0481419,actor,Maurice Lagrenée,"actor,director","tt0158769,tt0193092,tt0213910,tt0494577"
4,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0449136,actor,Émile Keppens,"actor,director","tt0923839,tt0139366,tt0443196,tt3141508"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536451,director,NaN,NaN,NaN
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536453,writer,NaN,NaN,NaN
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536454,writer,NaN,NaN,NaN
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536456,composer,NaN,NaN,NaN
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536455,composer,NaN,NaN,NaN

In [24]:
merge_final_nettoye_2 = pd.read_csv("merge_final_2.csv", sep = ",")

In [25]:
merge_final_nettoye_2

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,primaryName
0,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,"Léonce Perret,Louis Leubas,Maurice Lagrenée,Ém..."
1,tt0006206,Les vampires,Les vampires,1915,421.0,"Action,Adventure,Crime",7.3,5141.0,"Stacia Napierkowska,Musidora,Édouard Mathé,Mar..."
2,tt0006864,Intolerance,Intolerance: Love's Struggle Throughout the Ages,1916,163.0,"Drama,History",7.7,16045.0,"Lillian Gish,Robert Harron,Mae Marsh,F.A. Turner"
3,tt0006886,Judex,Judex,1916,300.0,"Adventure,Crime",7.2,1070.0,"René Cresté,Musidora,René Poyen,Édouard Mathé"
4,tt0008879,The Outlaw and His Wife,Berg-Ejvind och hans hustru,1918,136.0,Drama,7.2,1983.0,"Victor Sjöström,Edith Erastoff,John Ekman,Nils..."
...,...,...,...,...,...,...,...,...,...
11683,tt9900782,Kaithi,Kaithi,2019,145.0,"Action,Adventure,Crime",8.5,35428.0,"Karthi,Narain,Arjun Das,George Maryan"
11684,tt9904844,Ott Tänak: The Movie,Ott Tänak: The Movie,2019,125.0,"Documentary,Sport",8.1,493.0,NaN
11685,tt9905462,Pengalila,Pengalila,2019,111.0,Drama,7.6,678.0,NaN
11686,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103.0,"Comedy,Drama",7.5,2885.0,"Herman Finkers,Johanna ter Steege,Leonie ter B..."
11687,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,NaN

## Enregistrer le fichier corrigé sur l'ordi en PICKLE

In [4]:
merge_final_nettoye.to_pickle("merge_final_nettoye.pkl.gz", compression = 'gzip')

In [26]:
merge_final_nettoye_2.to_pickle("merge_final_nettoye_2.pkl.gz", compression = 'gzip')

## Charger le dataframe PICKLE

In [39]:
merge_final_nettoye_Pkl = pd.read_pickle("merge_final_nettoye.pkl.gz")

In [40]:
merge_final_nettoye_Pkl

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,nconst,category,primaryName,primaryProfession,knownForTitles
0,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0494137,actress,Suzanne Le Bret,actress,"tt0436541,tt0438178,tt0006206,tt0319773"
1,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0674600,actor,Léonce Perret,"director,actor,writer","tt0319773,tt0438177,tt0009858,tt0003883"
2,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0504864,actor,Louis Leubas,actor,"tt2122393,tt2122389,tt2746744,tt0006206"
3,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0481419,actor,Maurice Lagrenée,"actor,director","tt0158769,tt0193092,tt0213910,tt0494577"
4,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0449136,actor,Émile Keppens,"actor,director","tt0923839,tt0139366,tt0443196,tt3141508"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536451,director,NaN,NaN,NaN
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536453,writer,NaN,NaN,NaN
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536454,writer,NaN,NaN,NaN
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536456,composer,NaN,NaN,NaN
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536455,composer,NaN,NaN,NaN

In [27]:
merge_final_nettoye_Pkl_2 = pd.read_pickle("merge_final_nettoye_2.pkl.gz")

In [28]:
merge_final_nettoye_Pkl_2

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,primaryName
0,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,"Léonce Perret,Louis Leubas,Maurice Lagrenée,Ém..."
1,tt0006206,Les vampires,Les vampires,1915,421.0,"Action,Adventure,Crime",7.3,5141.0,"Stacia Napierkowska,Musidora,Édouard Mathé,Mar..."
2,tt0006864,Intolerance,Intolerance: Love's Struggle Throughout the Ages,1916,163.0,"Drama,History",7.7,16045.0,"Lillian Gish,Robert Harron,Mae Marsh,F.A. Turner"
3,tt0006886,Judex,Judex,1916,300.0,"Adventure,Crime",7.2,1070.0,"René Cresté,Musidora,René Poyen,Édouard Mathé"
4,tt0008879,The Outlaw and His Wife,Berg-Ejvind och hans hustru,1918,136.0,Drama,7.2,1983.0,"Victor Sjöström,Edith Erastoff,John Ekman,Nils..."
...,...,...,...,...,...,...,...,...,...
11683,tt9900782,Kaithi,Kaithi,2019,145.0,"Action,Adventure,Crime",8.5,35428.0,"Karthi,Narain,Arjun Das,George Maryan"
11684,tt9904844,Ott Tänak: The Movie,Ott Tänak: The Movie,2019,125.0,"Documentary,Sport",8.1,493.0,NaN
11685,tt9905462,Pengalila,Pengalila,2019,111.0,Drama,7.6,678.0,NaN
11686,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103.0,"Comedy,Drama",7.5,2885.0,"Herman Finkers,Johanna ter Steege,Leonie ter B..."
11687,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,NaN

## Nombre de films uniques

In [26]:
merge_final_nettoye_Pkl["primaryTitle"].unique()[:100]

NameError: name 'merge_final_nettoye_Pkl' is not defined

In [8]:
df_doublons = merge_final_nettoye_Pkl[merge_final_nettoye_Pkl["primaryTitle"] == merge_final_nettoye_Pkl["originalTitle"]]
df_doublons

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,nconst,category,primaryName,primaryProfession,knownForTitles
0,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0494137,actress,Suzanne Le Bret,actress,"tt0436541,tt0438178,tt0006206,tt0319773"
1,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0674600,actor,Léonce Perret,"director,actor,writer","tt0319773,tt0438177,tt0009858,tt0003883"
2,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0504864,actor,Louis Leubas,actor,"tt2122393,tt2122389,tt2746744,tt0006206"
3,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0481419,actor,Maurice Lagrenée,"actor,director","tt0158769,tt0193092,tt0213910,tt0494577"
4,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,"Crime,Drama",7.3,407.0,nm0449136,actor,Émile Keppens,"actor,director","tt0923839,tt0139366,tt0443196,tt3141508"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536451,director,NaN,NaN,NaN
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536453,writer,NaN,NaN,NaN
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536454,writer,NaN,NaN,NaN
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536456,composer,NaN,NaN,NaN
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.1,379.0,nm10536455,composer,NaN,NaN,NaN

In [9]:
df_uniques = df_doublons["primaryTitle"].unique()
df_uniques

array(["L'enfant de Paris", 'Les vampires', 'Judex', ...,
       'Ott Tänak: The Movie', 'Pengalila', 'Padmavyuhathile Abhimanyu'],
      dtype=object)

In [10]:
len(df_uniques)

7419

In [30]:
# 7419 lignes avec un primaryTitle égal au originalTitle. Il nous reste donc 4000 noms différents.

## Spliter les genres : methode dummies

### Fichier dataviz

In [25]:
# encodage
merge_final_nettoye_Pkl["genres"].str.get_dummies(sep=',') 
#En ligne => les films
#En colonne => les genres 
# plusieurs lignes pour un même film

NameError: name 'merge_final_nettoye_Pkl' is not defined

In [12]:
# encodage + tranformation en boolean
df_genres = merge_final_nettoye_Pkl["genres"].str.get_dummies(sep=',').astype(bool) 
df_genres

,Action,Adventure,Animation,Biography,Comedy,Crime,Divers,Documentary,Drama,Family,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
0,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
99262,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
99263,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
99264,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
99265,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [13]:
# on concat sur les colonnes le df_genres avec le df d'origne sans la colonne "genres"
df_dummies = pd.concat([merge_final_nettoye_Pkl.drop(columns="genres"), df_genres ], axis=1)
df_dummies

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,averageRating,numVotes,nconst,category,primaryName,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
0,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,7.3,407.0,nm0494137,actress,Suzanne Le Bret,...,False,False,False,False,False,False,False,False,False,False
1,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,7.3,407.0,nm0674600,actor,Léonce Perret,...,False,False,False,False,False,False,False,False,False,False
2,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,7.3,407.0,nm0504864,actor,Louis Leubas,...,False,False,False,False,False,False,False,False,False,False
3,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,7.3,407.0,nm0481419,actor,Maurice Lagrenée,...,False,False,False,False,False,False,False,False,False,False
4,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,7.3,407.0,nm0449136,actor,Émile Keppens,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,8.1,379.0,nm10536451,director,NaN,...,False,False,False,False,False,False,False,False,False,False
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,8.1,379.0,nm10536453,writer,NaN,...,False,False,False,False,False,False,False,False,False,False
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,8.1,379.0,nm10536454,writer,NaN,...,False,False,False,False,False,False,False,False,False,False
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,8.1,379.0,nm10536456,composer,NaN,...,False,False,False,False,False,False,False,False,False,False
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,8.1,379.0,nm10536455,composer,NaN,...,False,False,False,False,False,False,False,False,False,False

### Fichier machine learning

In [29]:
# encodage + tranformation en boolean
df_genres_2 = merge_final_nettoye_Pkl_2["genres"].str.get_dummies(sep=',').astype(bool) 
df_genres_2

,Action,Adventure,Animation,Biography,Comedy,Crime,Divers,Documentary,Drama,Family,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
0,False,False,False,False,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,True,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11684,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
11685,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
11686,False,False,False,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
11687,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [30]:
# on concat sur les colonnes le df_genres avec le df d'origne sans la colonne "genres"
df_dummies_2 = pd.concat([merge_final_nettoye_Pkl_2.drop(columns="genres"), df_genres_2 ], axis=1)
df_dummies_2

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,averageRating,numVotes,primaryName,Action,Adventure,...,Mystery,News,Reality-TV,Romance,Sci-Fi,Sport,Talk-Show,Thriller,War,Western
0,tt0003883,L'enfant de Paris,L'enfant de Paris,1913,124.0,7.3,407.0,"Léonce Perret,Louis Leubas,Maurice Lagrenée,Ém...",False,False,...,False,False,False,False,False,False,False,False,False,False
1,tt0006206,Les vampires,Les vampires,1915,421.0,7.3,5141.0,"Stacia Napierkowska,Musidora,Édouard Mathé,Mar...",True,True,...,False,False,False,False,False,False,False,False,False,False
2,tt0006864,Intolerance,Intolerance: Love's Struggle Throughout the Ages,1916,163.0,7.7,16045.0,"Lillian Gish,Robert Harron,Mae Marsh,F.A. Turner",False,False,...,False,False,False,False,False,False,False,False,False,False
3,tt0006886,Judex,Judex,1916,300.0,7.2,1070.0,"René Cresté,Musidora,René Poyen,Édouard Mathé",False,True,...,False,False,False,False,False,False,False,False,False,False
4,tt0008879,The Outlaw and His Wife,Berg-Ejvind och hans hustru,1918,136.0,7.2,1983.0,"Victor Sjöström,Edith Erastoff,John Ekman,Nils...",False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,tt9900782,Kaithi,Kaithi,2019,145.0,8.5,35428.0,"Karthi,Narain,Arjun Das,George Maryan",True,True,...,False,False,False,False,False,False,False,False,False,False
11684,tt9904844,Ott Tänak: The Movie,Ott Tänak: The Movie,2019,125.0,8.1,493.0,NaN,False,False,...,False,False,False,False,False,True,False,False,False,False
11685,tt9905462,Pengalila,Pengalila,2019,111.0,7.6,678.0,NaN,False,False,...,False,False,False,False,False,False,False,False,False,False
11686,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103.0,7.5,2885.0,"Herman Finkers,Johanna ter Steege,Leonie ter B...",False,False,...,False,False,False,False,False,False,False,False,False,False
11687,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,8.1,379.0,NaN,False,False,...,False,False,False,False,False,False,False,False,False,False

## Spliter les Startyear : methode dummies

### Fichier dataviz

In [15]:
# encodage + tranformation en boolean  en convertissant en string car get dummies est une methode en string
df_startyear = df_dummies["startYear"].astype(str).str.get_dummies(sep=',').astype(bool) 
df_startyear

,1913,1915,1916,1918,1919,1920,1921,1922,1923,1924,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
99262,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
99263,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
99264,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
99265,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [16]:
# on concat sur les colonnes le df_primaryName avec le df_dummies sans la colonne "primaryName"
df_dummies = pd.concat([df_dummies.drop(columns="startYear"), df_startyear ], axis=1)
df_dummies

,tconst,primaryTitle,originalTitle,runtimeMinutes,averageRating,numVotes,nconst,category,primaryName,primaryProfession,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,tt0003883,L'enfant de Paris,L'enfant de Paris,124.0,7.3,407.0,nm0494137,actress,Suzanne Le Bret,actress,...,False,False,False,False,False,False,False,False,False,False
1,tt0003883,L'enfant de Paris,L'enfant de Paris,124.0,7.3,407.0,nm0674600,actor,Léonce Perret,"director,actor,writer",...,False,False,False,False,False,False,False,False,False,False
2,tt0003883,L'enfant de Paris,L'enfant de Paris,124.0,7.3,407.0,nm0504864,actor,Louis Leubas,actor,...,False,False,False,False,False,False,False,False,False,False
3,tt0003883,L'enfant de Paris,L'enfant de Paris,124.0,7.3,407.0,nm0481419,actor,Maurice Lagrenée,"actor,director",...,False,False,False,False,False,False,False,False,False,False
4,tt0003883,L'enfant de Paris,L'enfant de Paris,124.0,7.3,407.0,nm0449136,actor,Émile Keppens,"actor,director",...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,130.0,8.1,379.0,nm10536451,director,NaN,NaN,...,False,False,False,False,False,True,False,False,False,False
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,130.0,8.1,379.0,nm10536453,writer,NaN,NaN,...,False,False,False,False,False,True,False,False,False,False
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,130.0,8.1,379.0,nm10536454,writer,NaN,NaN,...,False,False,False,False,False,True,False,False,False,False
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,130.0,8.1,379.0,nm10536456,composer,NaN,NaN,...,False,False,False,False,False,True,False,False,False,False
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,130.0,8.1,379.0,nm10536455,composer,NaN,NaN,...,False,False,False,False,False,True,False,False,False,False

### Fichier machine learning

In [31]:
# encodage + tranformation en boolean  en convertissant en string car get dummies est une methode en string
df_startyear_2 = df_dummies_2["startYear"].astype(str).str.get_dummies(sep=',').astype(bool) 
df_startyear_2

,1913,1915,1916,1918,1919,1920,1921,1922,1923,1924,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
11684,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
11685,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
11686,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
11687,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [32]:
# on concat sur les colonnes le df_primaryName avec le df_dummies sans la colonne "primaryName"
df_dummies_2 = pd.concat([df_dummies_2.drop(columns="startYear"), df_startyear_2 ], axis=1)
df_dummies_2

,tconst,primaryTitle,originalTitle,runtimeMinutes,averageRating,numVotes,primaryName,Action,Adventure,Animation,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,tt0003883,L'enfant de Paris,L'enfant de Paris,124.0,7.3,407.0,"Léonce Perret,Louis Leubas,Maurice Lagrenée,Ém...",False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,tt0006206,Les vampires,Les vampires,421.0,7.3,5141.0,"Stacia Napierkowska,Musidora,Édouard Mathé,Mar...",True,True,False,...,False,False,False,False,False,False,False,False,False,False
2,tt0006864,Intolerance,Intolerance: Love's Struggle Throughout the Ages,163.0,7.7,16045.0,"Lillian Gish,Robert Harron,Mae Marsh,F.A. Turner",False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,tt0006886,Judex,Judex,300.0,7.2,1070.0,"René Cresté,Musidora,René Poyen,Édouard Mathé",False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,tt0008879,The Outlaw and His Wife,Berg-Ejvind och hans hustru,136.0,7.2,1983.0,"Victor Sjöström,Edith Erastoff,John Ekman,Nils...",False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,tt9900782,Kaithi,Kaithi,145.0,8.5,35428.0,"Karthi,Narain,Arjun Das,George Maryan",True,True,False,...,False,False,False,False,False,True,False,False,False,False
11684,tt9904844,Ott Tänak: The Movie,Ott Tänak: The Movie,125.0,8.1,493.0,NaN,False,False,False,...,False,False,False,False,False,True,False,False,False,False
11685,tt9905462,Pengalila,Pengalila,111.0,7.6,678.0,NaN,False,False,False,...,False,False,False,False,False,True,False,False,False,False
11686,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,103.0,7.5,2885.0,"Herman Finkers,Johanna ter Steege,Leonie ter B...",False,False,False,...,False,False,False,False,False,False,True,False,False,False
11687,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,130.0,8.1,379.0,NaN,False,False,False,...,False,False,False,False,False,True,False,False,False,False

## Spliter les runtimeMinutes : methode dummies

### Fichier dataviz

In [17]:
# encodage + tranformation en boolean  en convertissant en string car get dummies est une methode en string
df_runtimeminutes = df_dummies["runtimeMinutes"].astype(str).str.get_dummies(sep=',').astype(bool) 
df_runtimeminutes

,100.0,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99262,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99263,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99264,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99265,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
# on concat sur les colonnes le df_primaryName avec le df_dummies sans la colonne "primaryName"
df_dummies = pd.concat([df_dummies.drop(columns="runtimeMinutes"), df_runtimeminutes ], axis=1)
df_dummies

,tconst,primaryTitle,originalTitle,averageRating,numVotes,nconst,category,primaryName,primaryProfession,knownForTitles,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
0,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0494137,actress,Suzanne Le Bret,actress,"tt0436541,tt0438178,tt0006206,tt0319773",...,False,False,False,False,False,False,False,False,False,False
1,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0674600,actor,Léonce Perret,"director,actor,writer","tt0319773,tt0438177,tt0009858,tt0003883",...,False,False,False,False,False,False,False,False,False,False
2,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0504864,actor,Louis Leubas,actor,"tt2122393,tt2122389,tt2746744,tt0006206",...,False,False,False,False,False,False,False,False,False,False
3,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0481419,actor,Maurice Lagrenée,"actor,director","tt0158769,tt0193092,tt0213910,tt0494577",...,False,False,False,False,False,False,False,False,False,False
4,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0449136,actor,Émile Keppens,"actor,director","tt0923839,tt0139366,tt0443196,tt3141508",...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536451,director,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536453,writer,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536454,writer,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536456,composer,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536455,composer,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

### Fichier machine learning

In [33]:
df_runtimeminutes_2 = df_dummies_2["runtimeMinutes"].astype(str).str.get_dummies(sep=',').astype(bool) 
df_runtimeminutes_2

,100.0,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11684,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11685,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11686,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11687,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [34]:
# on concat sur les colonnes le df_primaryName avec le df_dummies sans la colonne "primaryName"
df_dummies_2 = pd.concat([df_dummies_2.drop(columns="runtimeMinutes"), df_runtimeminutes_2 ], axis=1)
df_dummies_2

,tconst,primaryTitle,originalTitle,averageRating,numVotes,primaryName,Action,Adventure,Animation,Biography,...,90.0,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0
0,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,"Léonce Perret,Louis Leubas,Maurice Lagrenée,Ém...",False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,tt0006206,Les vampires,Les vampires,7.3,5141.0,"Stacia Napierkowska,Musidora,Édouard Mathé,Mar...",True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,tt0006864,Intolerance,Intolerance: Love's Struggle Throughout the Ages,7.7,16045.0,"Lillian Gish,Robert Harron,Mae Marsh,F.A. Turner",False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,tt0006886,Judex,Judex,7.2,1070.0,"René Cresté,Musidora,René Poyen,Édouard Mathé",False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,tt0008879,The Outlaw and His Wife,Berg-Ejvind och hans hustru,7.2,1983.0,"Victor Sjöström,Edith Erastoff,John Ekman,Nils...",False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,tt9900782,Kaithi,Kaithi,8.5,35428.0,"Karthi,Narain,Arjun Das,George Maryan",True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
11684,tt9904844,Ott Tänak: The Movie,Ott Tänak: The Movie,8.1,493.0,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11685,tt9905462,Pengalila,Pengalila,7.6,678.0,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11686,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,7.5,2885.0,"Herman Finkers,Johanna ter Steege,Leonie ter B...",False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11687,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,NaN,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Spliter les primaryName : methode dummies

### Fichier dataviz

In [4]:
# encodage + tranformation en boolean
df_primaryName = df_dummies["primaryName"].str.get_dummies(sep=',').astype(bool) 
df_primaryName

,'Ganja' Karuppu,'Punnagai Poo' Geetha,'University' Jeevan,A Martinez,A Tribe Called Quest,A. Bharati,A. Deepakraj,A. Jagannathan,A. Kandasamy,A. Karunakaran,...,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þór Eldon,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99262,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99263,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99264,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99265,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
# on concat sur les colonnes le df_primaryName avec le df_dummies sans la colonne "primaryName"
df_dummies = pd.concat([df_dummies.drop(columns="primaryName"), df_primaryName ], axis=1)
df_dummies

,tconst,primaryTitle,originalTitle,averageRating,numVotes,nconst,category,primaryProfession,knownForTitles,Action,...,Ümit Cin Güven,Ümit Ünal,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þór Eldon,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir
0,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0494137,actress,actress,"tt0436541,tt0438178,tt0006206,tt0319773",False,...,False,False,False,False,False,False,False,False,False,False
1,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0674600,actor,"director,actor,writer","tt0319773,tt0438177,tt0009858,tt0003883",False,...,False,False,False,False,False,False,False,False,False,False
2,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0504864,actor,actor,"tt2122393,tt2122389,tt2746744,tt0006206",False,...,False,False,False,False,False,False,False,False,False,False
3,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0481419,actor,"actor,director","tt0158769,tt0193092,tt0213910,tt0494577",False,...,False,False,False,False,False,False,False,False,False,False
4,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0449136,actor,"actor,director","tt0923839,tt0139366,tt0443196,tt3141508",False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536451,director,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536453,writer,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536454,writer,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536456,composer,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536455,composer,NaN,NaN,False,...,False,False,False,False,False,False,False,False,False,False

### Fichier machine learning

In [35]:
# encodage + tranformation en boolean
df_primaryName_2 = df_dummies_2["primaryName"].str.get_dummies(sep=',').astype(bool) 
df_primaryName_2

,'Ganja' Karuppu,'University' Jeevan,A Martinez,A. Michael Baldwin,A. Venkatesh,A.K. Hangal,A.T.M. Shamsuzzaman,A.V.M. Rajan,Aachi Manorama,Aadarsh Balakrishna,...,Øyvind B. Fabricius Holm,Øyvind Hagen-Traberg,Øyvind Thoen,Ülkü Özen,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11684,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11685,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11686,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11687,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [36]:
# on concat sur les colonnes le df_primaryName avec le df_dummies sans la colonne "primaryName"
df_dummies_2 = pd.concat([df_dummies_2.drop(columns="primaryName"), df_primaryName_2 ], axis=1)
df_dummies_2

,tconst,primaryTitle,originalTitle,averageRating,numVotes,Action,Adventure,Animation,Biography,Comedy,...,Øyvind B. Fabricius Holm,Øyvind Hagen-Traberg,Øyvind Thoen,Ülkü Özen,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson
0,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,tt0006206,Les vampires,Les vampires,7.3,5141.0,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,tt0006864,Intolerance,Intolerance: Love's Struggle Throughout the Ages,7.7,16045.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,tt0006886,Judex,Judex,7.2,1070.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,tt0008879,The Outlaw and His Wife,Berg-Ejvind och hans hustru,7.2,1983.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,tt9900782,Kaithi,Kaithi,8.5,35428.0,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11684,tt9904844,Ott Tänak: The Movie,Ott Tänak: The Movie,8.1,493.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11685,tt9905462,Pengalila,Pengalila,7.6,678.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11686,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,7.5,2885.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
11687,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Spliter les category : methode dummies

### Fichier dataviz

In [43]:
# encodage + tranformation en boolean
df_category = df_dummies["category"].str.get_dummies(sep=',').astype(bool) 
df_category

       actor  actress  cinematographer  composer  director  producer  writer
0      False     True            False     False     False     False   False
1       True    False            False     False     False     False   False
2       True    False            False     False     False     False   False
3       True    False            False     False     False     False   False
4       True    False            False     False     False     False   False
...      ...      ...              ...       ...       ...       ...     ...
99261  False    False            False     False      True     False   False
99262  False    False            False     False     False     False    True
99263  False    False            False     False     False     False    True
99264  False    False            False      True     False     False   False
99265  False    False            False      True     False     False   False

[99266 rows x 7 columns]

In [44]:
# on concat sur les colonnes le df_category avec le df_dummies sans la colonne "category"
df_dummies = pd.concat([df_dummies.drop(columns="category"), df_category ], axis=1)
df_dummies

,tconst,primaryTitle,originalTitle,averageRating,numVotes,nconst,primaryProfession,knownForTitles,Action,Adventure,...,Þór Eldon,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir,actor,actress,cinematographer,composer,director,producer,writer
0,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0494137,actress,"tt0436541,tt0438178,tt0006206,tt0319773",False,False,...,False,False,False,False,True,False,False,False,False,False
1,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0674600,"director,actor,writer","tt0319773,tt0438177,tt0009858,tt0003883",False,False,...,False,False,False,True,False,False,False,False,False,False
2,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0504864,actor,"tt2122393,tt2122389,tt2746744,tt0006206",False,False,...,False,False,False,True,False,False,False,False,False,False
3,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0481419,"actor,director","tt0158769,tt0193092,tt0213910,tt0494577",False,False,...,False,False,False,True,False,False,False,False,False,False
4,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0449136,"actor,director","tt0923839,tt0139366,tt0443196,tt3141508",False,False,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536451,NaN,NaN,False,False,...,False,False,False,False,False,False,False,True,False,False
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536453,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,True
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536454,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,True
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536456,NaN,NaN,False,False,...,False,False,False,False,False,False,True,False,False,False
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536455,NaN,NaN,False,False,...,False,False,False,False,False,False,True,False,False,False

## Enregistrer le nouveau fichier dummies en PICKLE

In [45]:
df_dummies.to_pickle("df_dummies.pkl.gz", compression = "gzip")

In [37]:
df_dummies_2.to_pickle("df_dummies_2.pkl.gz", compression = "gzip")

## Charger le fichier dummies en PICKLE

### Pour la dataviz

In [46]:
df_dummies = pd.read_pickle("df_dummies.pkl.gz")

In [47]:
df_dummies

,tconst,primaryTitle,originalTitle,averageRating,numVotes,nconst,primaryProfession,knownForTitles,Action,Adventure,...,Þór Eldon,Þórhallur Sigurðsson,Þórhildur Þorleifsdóttir,actor,actress,cinematographer,composer,director,producer,writer
0,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0494137,actress,"tt0436541,tt0438178,tt0006206,tt0319773",False,False,...,False,False,False,False,True,False,False,False,False,False
1,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0674600,"director,actor,writer","tt0319773,tt0438177,tt0009858,tt0003883",False,False,...,False,False,False,True,False,False,False,False,False,False
2,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0504864,actor,"tt2122393,tt2122389,tt2746744,tt0006206",False,False,...,False,False,False,True,False,False,False,False,False,False
3,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0481419,"actor,director","tt0158769,tt0193092,tt0213910,tt0494577",False,False,...,False,False,False,True,False,False,False,False,False,False
4,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,nm0449136,"actor,director","tt0923839,tt0139366,tt0443196,tt3141508",False,False,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99261,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536451,NaN,NaN,False,False,...,False,False,False,False,False,False,False,True,False,False
99262,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536453,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,True
99263,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536454,NaN,NaN,False,False,...,False,False,False,False,False,False,False,False,False,True
99264,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536456,NaN,NaN,False,False,...,False,False,False,False,False,False,True,False,False,False
99265,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,nm10536455,NaN,NaN,False,False,...,False,False,False,False,False,False,True,False,False,False

### Pour le machine learning

In [38]:
df_dummies_2 = pd.read_pickle("df_dummies_2.pkl.gz")

In [39]:
df_dummies_2

,tconst,primaryTitle,originalTitle,averageRating,numVotes,Action,Adventure,Animation,Biography,Comedy,...,Øyvind B. Fabricius Holm,Øyvind Hagen-Traberg,Øyvind Thoen,Ülkü Özen,Ümmü Putgül,Ünal Gürel,Üstün Asutay,Þorsteinn Bachmann,Þröstur Leó Gunnarsson,Þórhallur Sigurðsson
0,tt0003883,L'enfant de Paris,L'enfant de Paris,7.3,407.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,tt0006206,Les vampires,Les vampires,7.3,5141.0,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,tt0006864,Intolerance,Intolerance: Love's Struggle Throughout the Ages,7.7,16045.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,tt0006886,Judex,Judex,7.2,1070.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,tt0008879,The Outlaw and His Wife,Berg-Ejvind och hans hustru,7.2,1983.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11683,tt9900782,Kaithi,Kaithi,8.5,35428.0,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11684,tt9904844,Ott Tänak: The Movie,Ott Tänak: The Movie,8.1,493.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11685,tt9905462,Pengalila,Pengalila,7.6,678.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11686,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,7.5,2885.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
11687,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,8.1,379.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False